ul li {
	background: blue;
	font-size: 1.6em;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/****** DON NOT EDIT ANYTHING ABOVE THIS LINE ****/
