ul li {
	color: white;
	background: blue;
	font-size: 1.6em;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#thirditem {
	background: green;
}

/****** EDIT ONLY THE EXISTING CODE ABOVE THIS LINE ****/
